<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Main</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.1.1.min.css"/>
    <script type="module">
        import turbo
            from 'https://cdn.skypack.dev/pin/@hotwired/turbo@v7.1.0-V83RMQBlYCPK9CvTqQoL/mode=imports/optimized/@hotwired/turbo.js';
    </script>
</head>
<body>

<div class="p-strip is-shallow">
    <div class="row" layout:fragment="main-content">
        <main class="col-9">
            <h1>Welcome</h1>
        </main>
    </div>
</div>

</body>
</html>