<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Sourcing in Java using Spring and PostgreSQL</title>
    <link type="text/css" rel="stylesheet" href="resources/styles.css">
    <script type="module">
        import turbo from 'https://cdn.skypack.dev/pin/@hotwired/turbo@v7.1.0-V83RMQBlYCPK9CvTqQoL/mode=imports/optimized/@hotwired/turbo.js';
    </script>
</head>
<body>
<h1>Welcome</h1>
<p>This is an event sourcing example application using Java, Spring and PostgreSQL.</p>
<turbo-frame id="inventory" src="/inventory">
    <p>Inventory</p>
</turbo-frame>
</body>
</html>